<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- FONT FAMILY -->
    <link href="https://fonts.googleapis.com/css2?family=Sekuya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/landing.css">
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <title>Advanced Literacy Cluster — Books are better together</title>
</head>
<body>
    <header>
        <div class="logo"><img src="../static/images/book_logo.png" alt="Book Club" loading="lazy"></div>
        <nav>
            <a href="#"><i class="fa-solid fa-house"></i> Home</a>
            <a href="#"><i class="fa-solid fa-info-circle"></i> About</a>
            <a href="#"><i class="fa-solid fa-book"></i> Books</a>
            <a href="#"><i class="fa-solid fa-calendar"></i> Events</a>
            <a href="#"><i class="fa-solid fa-phone"></i> Contact</a>
        </nav>
        <ul>
            <li><a href="join_the_club">Join the Club</a></li>
        </ul>
        <div class="menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="wrap">
                <div class="txt">
                    <h6>Advanced Literacy Cluster</h6>
                    <h2>Where Stories Come Alive and Readers Connect</h2>
                    <p>Join a community of passionate readers exploring powerful stories, exchanging ideas, and growing together through books that inspire, challenge, and transform.</p>
                    <div class="cta">
                        <a href="">Explore this month's book</a>
                        <a href=""><i class="fa-regular fa-camera"></i> Join the club</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="about">
            <h3><i class="fa-solid fa-info-circle"></i> About Us</h3>
            <p>More Than Just Reading</p>
            <div class="grid">
                <div class="img"><img src="../static/images/about_image.png" alt="" loading="lazy"></div>
                <div class="txt">
                    <h4>Our Story</h4>
                    <p>The Lantern Readers Club is a space where stories come alive through conversation. Whether you’re a casual reader or a devoted book lover, our club creates a welcoming environment to share perspectives, discover new genres, and build meaningful connections. <br>We believe books are not just for reading—they are for experiencing, questioning, and growing from.</p>
                    <a href="">Learn more</a>
                </div>
            </div>
        </section>

        <section class="join">
            <h3>Why join our community<i class="fa-solid fa-question"></i></h3>
            <p class="desc">Here are a few reasons why you need to become part of our community. We offer:</p>
            <div class="grid">
                <div class="card">
                    <h4>📚<br> Curated Book Selections</h4>
                    <p>Discover books you might never find on your own</p>
                    <a href="">Learn More</a>
                </div>
                <div class="card">
                    <h4>💬<br> Meaningful Discussions</h4>
                    <p>Share thoughts and perspectives</p>
                    <a href="">Learn More</a>
                </div>
                <div class="card">
                    <h4>🌍<br> Diverse Community</h4>
                    <p>Meet readers from different backgrounds</p>
                    <a href="">Learn More</a>
                </div>
                <div class="card">
                    <h4>🎉<br> Fun Events</h4>
                    <p>From author talks to themed reading nights</p>
                    <a href="">Learn More</a>
                </div>
            </div>
        </section>

        <section class="how">
            <h3><i class="fa-regular fa-lightbulb"></i>How it Works</h3>
            <div class="grid">
                <div class="card">
                    <h4>📖<br> Pick the Book to Read</h4>
                    <p>Each month, we vote on a curated list of books across genres.</p>
                </div>
                <div class="card">
                    <h4>📅<br> Read at Your Pace</h4>
                    <p>Follow our flexible reading schedule—no pressure, just progress.</p>
                </div>
                <div class="card">
                    <h4>💬<br> Join the Discussion</h4>
                    <p>Participate in weekly discussions online or in person.</p>
                </div>
                <div class="card">
                    <h4>🌱<br> Grow & Connect</h4>
                    <p>Share ideas, learn from others, and build meaningful connections.</p>
                </div>
            </div>
        </section>

        <!-- <section class="month">
            <h3><i class="fa-solid fa-book"></i>Book Of The Month</h3>
            <img src="../static/images/book_of_the_month.png" alt="Book of the month">
        </section> -->
    </main>
</body>
<script src="../static/script.js" defer></script>
</html>