<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- FONT FAMILY -->
    <link href="https://fonts.googleapis.com/css2?family=Sekuya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/landing.css">
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <title>Advanced Literacy Cluster — Engineering Autonomous Intellects through the 198-Hour Mandate</title>
</head>
<body>
    <header>
        <div class="logo"><img src="../static/images/book_logo.png" alt="Book Club" loading="lazy" title="Advanced Literacy Cluster Logo"></div>
        <nav>
            <a href="#"><i class="fa-solid fa-house"></i> Home</a>
            <a href="#about_us"><i class="fa-solid fa-info-circle"></i> About</a>
            <a href="#how_it_works"><i class="fa-solid fa-lightbulb"></i> How it Works</a>
            <a href="#our_plans"><i class="fa-solid fa-naira-sign"></i> Our Plans</a>
            <a href="#book_of_the_month"><i class="fa-solid fa-book"></i> Books</a>
            <a href="#testimonials"><i class="fa-solid fa-phone"></i> Testimonials</a>
        </nav>
        <ul>
            <li><a href="join_the_cluster"><i class="fa-solid fa-arrow-right-to-bracket"></i> Join the Cluster</a></li>
        </ul>
        <div class="menuBtn">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>

    <main>
        <nav class="menu">
            <h4>Quick Links</h4>
            <a href="#"><i class="fa-solid fa-house"></i> Home</a>
            <a href="#about_us"><i class="fa-solid fa-info-circle"></i> About</a>
            <a href="#how_it_works"><i class="fa-solid fa-lightbulb"></i> How it Works</a>
            <a href="#our_plans"><i class="fa-solid fa-naira-sign"></i> Our Plans</a>
            <a href="#book_of_the_month"><i class="fa-solid fa-book"></i> Books</a>
            <a href="#testimonials"><i class="fa-solid fa-phone"></i> Testimonials</a>
            <a href="join_the_cluster"><i class="fa-solid fa-arrow-right-to-bracket"></i> Join The Cluster</a>
        </nav>

        <section class="hero">
            <div class="wrap">
                <div class="txt">
                    <h5>Advanced Literacy Cluster</h5>
                    <h2>Engineering Autonomous Intellects through the 198-Hour Mandate</h2>
                    <p>We are a performance-based system. Our control tower staff monitor each child's cognitive stamina individually. We verify the 198-Hour milestone for each child, we manage a junior account for each child.</p>
                    <div class="cta">
                        <a href="#book_of_the_month">Reinvention Resilience</a>
                        <a href="join_the_cluster"><i class="fa-solid fa-arrow-right-to-bracket"></i> Join the cluster</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="about" id="about_us">
            <h3><i class="fa-solid fa-info-circle"></i> About Us</h3>
            <p>More Than Just Reading</p>
            <div class="grid">
                <div class="img"><img src="../static/images/about_image.png" alt="" loading="lazy"></div>
                <div class="txt">
                    <h4>OUR CORE MISSION</h4>
                    <p>The Advanced Literacy Cluster is a specialized human-capital development initiative. Our mission is to cultivate Autonomous Reading — the ability of a child to decode, comprehend, and solve problems within a text without external aid. We don't just teach children to read, we equip them with the resillence to understand a book independently, identifying learning gaps before they become academic hurdles.</p>
                    <a href=""><i class="fa-solid fa-info-circle"></i> Learn more</a>
                </div>
            </div>

            <div class="grid">
                <div class="txt">
                    <h4>OUR CORE VISION</h4>
                    <p>We are establishing a strategic network of 1,000 Private Intelligence Hubs. Your investment today — the HD monitoring hardware, the commitment fee, and the activation of your child's Executive Scholar Account — is the precise key that unlocks access to our global donor funding. We are not just teaching; we are transforming your home into a Center of Operational Excellence.</p>
                    <a href=""><i class="fa-solid fa-info-circle"></i> Learn more</a>
                </div>
                <div class="img"><img src="../static/images/vision_image.png" alt="Core Vision" loading="lazy"></div>
            </div>
        </section>

        <section class="join" id="join_us" >
            <h3>Why join our community<i class="fa-solid fa-question"></i></h3>
            <p class="desc">Here are a few reasons why you need to become part of our community. We:</p>
            <div class="grid">
                <div class="card">
                    <h4>📚<br> Identify Gaps Early</h4>
                    <p>We catch learning deficiencies before they become permanent hurdles.</p>
                    <a href=""><i class="fa-solid fa-info-circle"></i> Learn More</a>
                </div>
                <div class="card">
                    <h4>💬<br> Build Resillence</h4>
                    <p>The 1-2-3-4 hours "Sitting" window builds a grit that stays with the child for life.</p>
                    <a href=""><i class="fa-solid fa-info-circle"></i> Learn More</a>
                </div>
                <div class="card">
                    <h4>🌍<br> Financial Literacy</h4>
                    <p>Through the Junior Accounts, children learn the value of saving the money they earn from their "Reading Job."</p>
                    <a href=""><i class="fa-solid fa-info-circle"></i> Learn More</a>
                </div>
                <div class="card">
                    <h4>🎉<br> Read To Earn Profits</h4>
                    <p>Through the process of reading, children can also earn fixed profits credited into their accounts at the end of each month.</p>
                    <a href=""><i class="fa-solid fa-info-circle"></i> Learn More</a>
                </div>
            </div>
        </section>

        <section class="how" id="how_it_works">
            <h3><i class="fa-regular fa-lightbulb"></i>How it Works</h3>  
            <div class="grid">
                <div>
                    <h5><i class="fa-solid fa-lightbulb"></i>The Strategic Operations</h5>
                    <p>"READING CLUSTERS" stands to ensure consistent cognitive growth, the program operates on a rigorous Monday - Thursday scehdule. Each age bracket is assigned a specific "Professional Sitting" window to build stamina and discipline.</p>
                </div>

                <div>
                    <h5><i class="fa-solid fa-lightbulb"></i>Milestone Celebrations</h5>
                    <p>By maintaining this schedule, students reach the target of 198 hours of self-study per term, a milestone celebrated at our high-profile Corporate Milestone Events.</p>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Age Group</th>
                        <th>The Objective</th>
                        <th>Scheduled Sitting Window</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ages 5-8</td>
                        <td>Foundational Fixing</td>
                        <td>7:00PM - 8:00PM</td>
                        <td>1HR</td>
                    </tr>
                    <tr>
                        <td>Ages 9-12</td>
                        <td>Cognitive Strengthening</td>
                        <td>7:00PM - 9:00PM</td>
                        <td>2HRS</td>
                    </tr>
                    <tr>
                        <td>Ages 13 - 17</td>
                        <td>Advanced Mastering</td>
                        <td>7:00PM - 10:00PM</td>
                        <td>3HRS</td>
                    </tr>
                    <tr>
                        <td>Ages 18 and above</td>
                        <td>Pages Leafing</td>
                        <td>7:00PM - 11:00PM and above</td>
                        <td>4-5HRS and above</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="price" id="our_plans">
            <h3><i class="fa-solid fa-money-bill"></i> Choose a Plan</h3>
            <p>Choose a plan that resonates most with you</p>
            <div class="grid">
                <div class="card">
                    <h5 class="plan"><b>Lower Class</b></h5>
                    <div class="txt">
                        <div>
                            <h5>What you'll get:</h5>
                            <ul>
                                <li><span>📖</span> <span>Access to 5 books per month</span></li>
                                <li><span>🗓️</span> <span>Join 2 live reading sessions</span></li>
                                <li><span>💬</span> <span>Community group access</span></li>
                                <li><span>🧠</span> <span>Weekly reading tips</span></li>
                                <li><span>📊</span> <span>Track your reading progress</span></li>
                            </ul>  
                        </div>
                        <a href="join_the_cluster">Choose Plan</a>
                    </div>
                </div>

                <div class="card">
                    <h5 class="plan"><b>Economic Class</b> (Basic)</h5>
                    <div class="txt">
                        <div>
                            <h5>What you'll get:</h5>
                            <ul>
                                <li>📖 Access to 5 books per month</li>
                                <li>🗓️ Join 2 live reading sessions</li>
                                <li>💬 Community group access</li>
                                <li>🧠 Weekly reading tips</li>
                                <li>📊 Track your reading progress</li>
                            </ul>
                        </div>
                        <a href="join_the_cluster">Choose Plan</a>
                    </div>
                </div>

                <div class="card">
                    <h5 class="plan"><b>Middle Class</b> (Pro)</h5>
                    <div class="txt">
                        <div>
                            <h5>What you'll get:</h5>
                            <ul>
                                <li>📖 Access to 15+ books per month</li>
                                <li>🗓️ Join Unlimited live sessions</li>
                                <li>🎤 Participate in group discussions</li>
                                <li><span>🧠</span> <span>Weekly expert insights & summaries</span></li>
                                <li>📊 Advanced reading tracker</li>
                                <li>🎯 Monthly reading challenges</li>
                                <li>🏆 Recognition on leaderboard</li>
                            </ul>
                        </div>
                        <a href="join_the_cluster">Choose Plan</a>
                    </div>
                </div>

                <div class="card">
                    <h5 class="plan"><b>Upper Class</b> (Pro plus)</h5>
                    <div class="txt">
                        <div>
                            <h5>What you'll get:</h5>
                            <ul>
                                <li><span>📖</span> <span>Unlimited book access</span></li>
                                <li><span>🗓️</span> <span>Priority access to all sessions</span></li>
                                <li><span>🎤</span> <span>Host your own discussions</span></li>
                                <li><span>🤝</span> <span>1-on-1 mentorship sessions (monthly)</span></li>
                                <li><span>🧠</span> <span>Exclusive premium content</span></li>
                                <li><span>📊</span> <span>Personalized reading roadmap</span></li>
                                <li><span>🎁</span> <span>Free access to paid workshops</span></li>
                                <li><span>🏆</span> <span>VIP badge + spotlight feature</span></li>
                            </ul>
                        </div>
                        <div>
                            <a href="join_the_cluster">Choose Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="month" id="book_of_the_month">
            <div class="wrap">
                <h3><i class="fa-solid fa-book"></i>Soon Coming</h3>
                <div class="grid">
                    <div class="img">
                        <img src="../static/images/book_of_the_month.png" alt="Book of the month" loading="lazy">
                    </div>
                    <div class="txt">
                        <h4>The Chronicles of Advanced Literacy Cluster — Volume 1 <br>Author - Jennifer Anthony Umofia</h4>
                        <p>A gripping tale of resilience and identity that challenges the boundaries of human courage and connection.</p>
                        <div class="cta">
                            <a href="">Start Reading</a>
                            <a href="">Join Discussion</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="reviews" id="testimonials">
            <div class="wrap">
                <h3><i class="fa-solid fa-user-circle"></i> What Our Members Say</h3>
                <div class="flex">
                    <div class="card">
                        <div class="avatar">
                            <img src="../static/images/member3.png" alt="Sarah Jason" loading="lazy">
                            <div class="rating">
                                <span>⭐⭐⭐⭐⭐</span>
                                <p>The New Reader</p>
                                <p>Sarah Jason</p>
                            </div>
                        </div>
                        <div class="txt">
                            <p>"I used to hide my son's tablet, but he would find it and scream for hours. Since he joined the ALC 198-Hour Mandate, the shift has been spiritual. He now treats his 'Sitting Window' like a professional job. Seeing him focus at his workstation instead of scrolling YouTube is the best investment i've made this year!."</p>
                            <div class="stats">
                                <div>
                                    <h5>Parent of a 9-year-old Scholar, Benin City.</h5>
                                    <h5>Join Date: 6 Months Ago</h5>
                                </div>
                                <div>
                                    <img src="../static/images/favicon.png" alt="Advanced Literacy Cluster Logo">
                                </div>
                            </div>    
                        </div>
                    </div>

                    <div class="card">
                        <div class="avatar">
                            <img src="../static/images/member1.png" alt="Ben Johnson" loading="lazy">
                            <div class="rating">
                                <span>⭐⭐⭐⭐⭐</span>
                                <p>Discussion Lead</p>
                                <p>Ben Johnson</p>
                            </div>
                        </div>
                        <div class="txt">
                            <p>"As a business owner, I don't have the time to sit over my daughter and shout 'open your book!'. The ALC Control Tower took that stress off me. Knowing that professional eyes are monitoring her HD link ensures she stays disciplined even when I'm at the office. The remote oversight is worth every cent or kobo."</p>
                            <div class="stats">
                                <div>
                                    <h5>Ben J., Teacher</h5>
                                    <h5>Role: Discussion Lead</h5>
                                </div>
                                <div>
                                    <img src="../static/images/favicon.png" alt="Advanced Literacy Cluster Logo">
                                </div>
                            </div>      
                        </div>
                    </div>

                    <div class="card">
                        <div class="avatar">
                            <img src="../static/images/member2.png" alt="David Momoh" loading="lazy">
                            <div class="rating">
                                <span>⭐⭐⭐⭐⭐</span>
                                <p>Graphic Designer</p>
                                <p>David Momoh</p>
                            </div>
                        </div>
                        <div class="txt">
                            <p>"My 14-year-old was becoming lazy and uninspired. When I told him he could earn a Monthly Stipend for hitting his reading targets, his entire attitude changed. He is learning that 'Value equals Currency'. He is no longer a student; he's a Strategic Associate who takes pride in his work."</p>
                            <div class="stats">
                                <div>
                                    <h5>David M., Graphic Designer</h5>
                                    <h5>Father of an ALC Associate</h5>
                                </div>
                                <div>
                                    <img src="../static/images/favicon.png" alt="Advanced Literacy Cluster Logo">
                                </div>
                            </div>
                                    
                        </div>
                    </div>

                    <div class="card">
                        <div class="avatar">
                            <img src="../static/images/member4.png" alt="Aisha Kabir" loading="lazy">
                            <div class="rating">
                                <span>⭐⭐⭐⭐</span>
                                <p>School Libarian</p>
                                <p>Aisha Kabir</p>
                            </div>
                        </div>
                        <div class="txt">
                            <p>"The vocabulary my daughter uses now is incredible. The ALC didn't just teach her to read; it installed a new 'Operating System' in her mind. Her confidence during her last Executive Celebration ceremony brought tears to my eyes. This is the future of Nigerian leadership."</p>
                            <div class="stats">
                                <div>
                                    <h5>Aisha K., Librarian</h5>
                                    <h5>Mother of Primary 5 Scholar</h5>
                                </div>
                                <div>
                                    <img src="../static/images/favicon.png" alt="Advanced Literacy Cluster Logo">
                                </div>
                            </div>
                                    
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="grid">
            <div class="logo">
                <img src="../static/images/book_logo.png" alt="">
                <h4>The Advanced Literacy Cluster</h4>
                <p>We are a performance-based system. our control tower staff monitor each child's cognitive stamina individually. We verify the 198-Hour milestone for each child, we manage a junior account for each child.</p>
            </div>

            <div class="links">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about_us">About</a></li>
                    <li><a href="#how_it_works">How it works</a></li>
                    <li><a href="#our_plans">Our Plans</a></li>
                    <li><a href="#book_of_the_month">Books</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="join_the_cluster">Join the Cluster</a></li> 
                </ul>
            </div>

            <div class="signup">
                <h4>Stay in the Loop</h4>
                <p>Get updates on new book picks, upcoming meetings and exclusive content.</p>
                <form action="" method="get">
                    <div class="email">
                        <label for="email"><i class="fa-solid fa-message"></i></label>
                        <input type="email" name="email" id="email" placeholder="johndoe@gmail.com" autocomplete="email">
                    </div>
                    <button type="button">Subscribe</button>
                </form>
            </div>

            <div class="sm">
                <h4>Social Media</h4>
                <p>Follow us on our social media accounts:</p>
                <ul>
                    <li><i class="fa-solid fa-message"></i><span>advancedliteracycluster@gmail.com</span></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <p>© 2026 Advanced Literacy Cluster. All rights reserved.</p>
        </div>
    </footer>
</body>
<script src="../static/script.js" defer></script>
</html>