<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- FONT FAMILY -->
    <link href="https://fonts.googleapis.com/css2?family=Sekuya&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/landing.css">
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <title>Advanced Literacy Cluster — Books are better together</title>
</head>
<body>
    <header>
        <div class="logo"><img src="../static/images/book_logo.png" alt="Book Club" loading="lazy"></div>
        <nav>
            <a href="#"><i class="fa-solid fa-house"></i> Home</a>
            <a href="#"><i class="fa-solid fa-info-circle"></i> About</a>
            <a href="#"><i class="fa-solid fa-book"></i> Books</a>
            <a href="#"><i class="fa-solid fa-calendar"></i> Events</a>
            <a href="#"><i class="fa-solid fa-phone"></i> Contact</a>
        </nav>
        <ul>
            <li><a href="join_the_club"><i class="fa-solid fa-user-circle"></i> Join the Club</a></li>
        </ul>
        <div class="menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="wrap">
                <div class="txt">
                    <h6>Advanced Literacy Cluster</h6>
                    <h2>Where Stories Come Alive and Readers Connect</h2>
                    <p>Join a community of passionate readers exploring powerful stories, exchanging ideas, and growing together through books that inspire, challenge, and transform.</p>
                    <div class="cta">
                        <a href="">Explore this month's book</a>
                        <a href=""><i class="fa-regular fa-camera"></i> Join the club</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="about">
            <h3><i class="fa-solid fa-info-circle"></i> About Us</h3>
            <p>More Than Just Reading</p>
            <div class="grid">
                <div class="img"><img src="../static/images/about_image.png" alt="" loading="lazy"></div>
                <div class="txt">
                    <h4>Our Story</h4>
                    <p>The Lantern Readers Club is a space where stories come alive through conversation. Whether you’re a casual reader or a devoted book lover, our club creates a welcoming environment to share perspectives, discover new genres, and build meaningful connections. <br>We believe books are not just for reading—they are for experiencing, questioning, and growing from.</p>
                    <a href="">Learn more</a>
                </div>
            </div>
        </section>

        <section class="join">
            <h3>Why join our community<i class="fa-solid fa-question"></i></h3>
            <p class="desc">Here are a few reasons why you need to become part of our community. We offer:</p>
            <div class="grid">
                <div class="card">
                    <h4>📚<br> Curated Book Selections</h4>
                    <p>Discover books you might never find on your own</p>
                    <a href="">Learn More</a>
                </div>
                <div class="card">
                    <h4>💬<br> Meaningful Discussions</h4>
                    <p>Share thoughts and perspectives</p>
                    <a href="">Learn More</a>
                </div>
                <div class="card">
                    <h4>🌍<br> Diverse Community</h4>
                    <p>Meet readers from different backgrounds</p>
                    <a href="">Learn More</a>
                </div>
                <div class="card">
                    <h4>🎉<br> Fun Events</h4>
                    <p>From author talks to themed reading nights</p>
                    <a href="">Learn More</a>
                </div>
            </div>
        </section>

        <section class="how">
            <h3><i class="fa-regular fa-lightbulb"></i>How it Works</h3>
            <p class="desc">In four easy steps: </p>
            <div class="grid">
                <div class="card">
                    <h4>📖<br> Pick the Book to Read</h4>
                    <p>Each month, we vote on a curated list of books across genres.</p>
                </div>
                <div class="card">
                    <h4>📅<br> Read at Your Pace</h4>
                    <p>Follow our flexible reading schedule—no pressure, just progress.</p>
                </div>
                <div class="card">
                    <h4>💬<br> Join the Discussion</h4>
                    <p>Participate in weekly discussions online or in person.</p>
                </div>
                <div class="card">
                    <h4>🌱<br> Grow & Connect</h4>
                    <p>Share ideas, learn from others, and build meaningful connections.</p>
                </div>
            </div>
        </section>

        <section class="month">
            <div class="wrap">
                <h3><i class="fa-solid fa-book"></i>Book Of The Month</h3>
                <p>This month's pick</p>
                <div class="grid">
                    <div class="img">
                        <img src="../static/images/book_of_the_month.png" alt="Book of the month" loading="lazy">
                    </div>
                    <div class="txt">
                        <h4>The Chronicles of Advanced Literacy Cluster — Volume 1 <br>Author - Jennifer Anthony Umofia</h4>
                        <p>A gripping tale of resilience and identity that challenges the boundaries of human courage and connection.</p>
                        <div class="cta">
                            <a href="">Start Reading</a>
                            <a href="">Join Discussion</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="reviews">
            <div class="wrap">
                <h3><i class="fa-solid fa-user-circle"></i> What Our Members Say</h3>
                <div class="flex">
                    <div class="card">
                        <div class="avatar">
                            <img src="../static/images/member3.png" alt="Sarah Linda">
                            <div class="rating">
                                <span>⭐⭐⭐⭐⭐</span>
                                <p>The New Reader</p>
                                <p>Sarah Linda</p>
                            </div>
                        </div>
                        <div class="txt">
                            <p>"Before joining, I hadn't picked up a book for fun in years. This club made it so easy. The book choices are fantastic, and the discussions are welcoming, not intimidating. Now, I actually look forward to my reading time!"</p>
                            <div class="stats">
                                <div>
                                    <h5>Sarah L., New Member</h5>
                                    <h5>Join Date: 6 Months Ago</h5>
                                </div>
                                <div>
                                    <img src="../static/images/favicon.png" alt="Advanced Literacy Cluster Logo">
                                </div>
                            </div>
                                    
                        </div>
                    </div>

                    <div class="card">
                        <div class="avatar">
                            <img src="../static/images/member2.png" alt="David Momoh">
                            <div class="rating">
                                <span>⭐⭐⭐⭐⭐</span>
                                <p>Graphic Designer</p>
                                <p>David Momoh</p>
                            </div>
                        </div>
                        <div class="txt">
                            <p>"I struggle to find time for myself. This book club offers a perfect, low-pressure escape. The monthly meeting is a highlight, but I also love that I can participate in online chats on my own time."</p>
                            <div class="stats">
                                <div>
                                    <h5>David M., Graphic Designer</h5>
                                    <h5>Member Since: 2 Years</h5>
                                </div>
                                <div>
                                    <img src="../static/images/favicon.png" alt="Advanced Literacy Cluster Logo">
                                </div>
                            </div>
                                    
                        </div>
                    </div>

                    <div class="card">
                        <div class="avatar">
                            <img src="../static/images/member4.png" alt="Aisha Kabir">
                            <div class="rating">
                                <span>⭐⭐⭐⭐⭐</span>
                                <p>School Libarian</p>
                                <p>Aisha Kabir</p>
                            </div>
                        </div>
                        <div class="txt">
                            <p>"I've always loved reading, but I tended to stick to my cozy mystery bubble. This club has pushed me into genres I never would have tried, from sweeping historical epics to thought-provoking non-fiction."</p>
                            <div class="stats">
                                <div>
                                    <h5>Aisha K., Librarian</h5>
                                    <h5>ReadCount: 45 Books with the Club</h5>
                                </div>
                                <div>
                                    <img src="../static/images/favicon.png" alt="Advanced Literacy Cluster Logo">
                                </div>
                            </div>
                                    
                        </div>
                    </div>

                    <div class="card">
                        <div class="avatar">
                            <img src="../static/images/member1.png" alt="Sarah Linda">
                            <div class="rating">
                                <span>⭐⭐⭐⭐⭐</span>
                                <p>Discussion Lead</p>
                                <p>Ben Johnson</p>
                            </div>
                        </div>
                        <div class="txt">
                            <p>"When I moved to a new city, I joined this club to meet people. I never expected to find such a supportive and hilarious group of friends. Even when we don't agree on a book, the respect and humor in our conversations are heartwarming."</p>
                            <div class="stats">
                                <div>
                                    <h5>Ben J., Teacher</h5>
                                    <h5>Role: Discussion Lead</h5>
                                </div>
                                <div>
                                    <img src="../static/images/favicon.png" alt="Advanced Literacy Cluster Logo">
                                </div>
                            </div>
                                    
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="../static/script.js" defer></script>
</html>